{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Inicio - EstacionaTESCHI</title>
  </head>
  <body class="w-screen h-screen overflow-hidden">
    <div>
      <img src="{% static 'images/bg-index.png' %}" alt="bg" border="0" class="absolute h-full w-full" />
      <div class="absolute inset-0 bg-black opacity-30"></div>
      <div class="absolute z-2 w-full h-[65vh] bg-black opacity-45 text-white items-center justify-center flex">
        <div class="h-full w-15/20"></div>
        <div class="h-full w-5/20 bg-white rounded-tl-[13vh]"></div>
      </div>
      <div class="relative z-2 w-full h-[65vh] text-white items-center justify-center flex">
        <div class="h-full w-4/5 flex flex-col justify-center">
          <div class="">
            <h1 class="text-6xl pb-5">EstacionaTESCHI</h1>
            <p class="text-3xl">Sistema de gestion de acceso vehicular</p>
          </div>
        </div>
      </div>
      <img src="{% static 'images/bg-auto.png' %}" alt="logo" border="0" class="absolute bottom-[30vh] start-[70vw] z-3" />
      <div class="absolute z-2 t-[65vh] w-full h-[20vh]">
        <div class="absolute h-full w-full z-3 bg-white opacity-45 rounded-b-[13vh]"></div>

        <div class="absolute h-full w-full z-4 flex items-center justify-center flex">
          <div class="w-1/2 flex justify-center">
            <a href="/login/" class="bg-[#006331] text-white font-bold py-5 px-15 rounded-full text-2xl cursor-pointer inline-flex items-center justify-center">Iniciar sesion</a>
          </div>
          <div class="w-1/2 flex justify-center">
            <a href="/register/" class="bg-[#000000] text-white font-bold py-5 px-15 rounded-full text-2xl cursor-pointer">Registrate aqui</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
