{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css" />
    <title>Login - EstacionaTESCHI</title>
  </head>
  <body class="w-screen h-screen overflow-hidden">
    <div>
      <img src="{% static 'images/bg-login.png' %}" alt="bg" border="0" class="absolute h-full w-full" />
      <div class="absolute flex z-3 w-full h-full">
        <div class="absolute flex flex-col justify-evenly bg-white h-full w-[30%] end-0 rounded-tl-[8vh] text-black">
          <form class="flex flex-col justify-evenly items-center justify-center w-full h-full text-black">
            <h1 class="text-5xl pt-10 pb-5 w-full text-center font-bold">Bienvenido</h1>
            <span class="fi fi-sr-user text-9xl py-2 w-full text-center"></span>
            <div class="w-full flex flex-col items-center">
              <div class="relative w-[70%] py-5">
                <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none">
                  <span class="items-center px-3 text-sm w-4 h-4"><span class="fi fi-sr-at"></span></span>
                </div>
                <input class="block py-2 w-full p-2.5 w-full z-20 text-gray-700 rounded-lg bg-gray-200/80 text-center" placeholder="Correo" type="email" required />
              </div>
              <div class="relative w-[70%] py-5">
                <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none">
                  <span class="items-center px-3 text-sm w-4 h-4"><span class="fi fi-sr-lock"></span></span>
                </div>
                <input class="block py-2 w-full p-2.5 w-full z-20 text-gray-700 rounded-lg bg-gray-200/80 text-center" placeholder="Contraseña" type="password" required />
              </div>
            </div>
            <div class="py-2">
              <button class="text-black text-xl px-8 p-3 rounded-xl bg-gradient-to-r from-[#FFE417] to-[#FDBD4A] cursor-pointer disabled:opacity-50">Iniciar sesion</button>
            </div>
            <div class="py-2 flex flex-col text-center">
              <div class="w-full py-1">
                <a class="text-[#0065D0] text-lg cursor-pointer">¿Olvidaste tu contraseña?</a>
              </div>
              <div class="w-full py-1">
                <a href="{% url 'register' %}" class="text-xl cursor-pointer">Registrate</a>
              </div>
            </div>
          </form>
        </div>
        <div class="w-10 h-full"></div>
      </div>
    </div>
  </body>
</html>
